.aboutHeader {
    width: 100%;

    h1  {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5%;

        p {
            font-size: 5rem;
        }
    }
}

.aboutContent {
    display: flex;
    flex-wrap: wrap;

    .member {
        width: 50%;
        display: flex;
        justify-content: space-around;

        .memberWrapper {
            display: flex;
            width: 50%;
            padding: 3% 0;
            border-bottom: 1px solid @light-gray;
        }

        img {
            border-radius: 50%;
            width: 15rem;
        }

        .memberCont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10%;

            h2 {
                width: 100%;
            }

            button {
                border-radius: 50%;
                border: none;
                width: 3rem;
                height: 3rem;
            }
        }
    }
}