// Navigation Styles here
nav {
    .displayFlex(row, space-around, center);
    background-color: @navigation-bg;
    height: 7rem;
    border-bottom: 10px solid @red;

    @media @tablet {
        height: 6rem;
    }

    @media @mobile {
        flex-direction: column;
        height: 8rem;
    }

    p {
        color: white;
        font-size: 3rem;
        font-weight: bold;
        padding: 0;

        span {
            color: @red;
        }
    }

    .linkCont{
        .displayFlex(row, space-between, center);
        width: 20%;
        height: 100%;
        border-left: 1px solid @light-gray;

        @media @tablet {
            width: 50%;
        }

        @media @mobile {
            width: 100%;
            border: 1px solid @light-gray;
        }

        a {
            .displayFlex(row, center, center);
            text-decoration: none;
            color: white;
            font-size: 2rem;
            height: 100%;
            width: 100%;
            padding: 2%;
            border-right: 1px solid @light-gray;
        }

        a:hover {
            background-color: @red;
        }
    }

    
}