// Navigation Styles here
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: @gray;
    height: 8rem;

    .linkCont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        height: 100%;


        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 2rem;
            height: 100%;
            width: 100%;
            padding: 2%;
        }

        a:hover {
            background-color: gray;
        }
    }

    
}