
// Color assignments 
@font-color: black;
@button-bg: @red;
@main-bg:  @gray;
@navigation-border: @red;
@footer-bg: @gray;

// Colors
@red: #FE5043;
@gray: #212121;

//media views
@mobile: ~"(max-width: 500px)";